<%= content_for :title do %>
  Michael Adams
<% end %>
<%= content_for :description do %>
  Michael Adams made this website
<% end %>

<section class="intro panel">
  <p>
    Hi, I'm Michael. This site is a demo built while I learn how to use Rails, Ruby, Heroku, Foundation, and other technologies.
  </p>
</section>

<section>

  <div class="panel">
    <p>
      This form works&mdash;it will put a valid email address on a Mailchimp mailing list&mdash;but I'm not going to send you anything.
    </p>

    <div class="form">
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, label:false, placeholder: 'Your email address...' %>
        <br>
        <%= f.button :submit, "Join the mailing list", class:'submit button large-8.columns' %>
      <% end %>
    </div>
  </div>
</section>
