<%= content_for :title do %>
  Michael Adams
<% end %>
<%= content_for :description do %>
  Michael Adams made this website
<% end %>
<section>
  <%= image_tag "michael.jpg"  %>
  <p>This is the wrong Michael Adams.<br><%= link_to "Here are some more of those", "http://michaelsadamsiamnot.tumblr.com", target:"_blank"%>.</p>
</section>
<section>
  <p>This form works&mdash;it will actually put your name on a Mailchimp mailing list&mdash;but I'm not going to send you anything, I don't think.</p>
  <div class="column">
    <div class="form-centered">
      <%= simple_form_for @visitor do |f| %>
        <%= f.error_notification %>
        <%= f.input :email, label:false, :placeholder => 'Your email address...' %>
        <br>
        <%= f.button :submit, "Sign up for Mike's imaginary newsletter", class:'submit' %>
      <% end %>
    </div>
  </div>
</section>
