<div class="icon-bar four-up">
  <a class="item" href='<%= root_path %>'>
    <i class='fi-home'></i>
    <label>Home</label>
  </a>
  <a class="item" href='<%= page_path('about') %>'>
    <i class='fi-info'></i>
    <label>Info</label>
  </a>
  <a class="item" href='<%= new_contact_path %>'>
    <i class="fi-mail"></i>
    <label>Mail</label>
  </a>
  <a class="item" href="https://github.com/origamike/learn-rails" target="_blank">
    <i class="fi-social-github"></i>
    <label>Source</label>
  </a>
</div>

<!-- Navigation centered bar-->
    <!-- <div class="contain-to-grid sticky">

      <nav class="top-bar" data-topbar>
        <ul class="title-area">
          <li class="name">
            <h1><a class="logo show-for-small-only" href="#">
            <%= image_tag 'avatar.jpg' %>
            </a></h1>
          </li>
          <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">

          <div class="logo-wrapper hide-for-small-only">
            <div class="logo">
              <%= image_tag 'avatar.jpg' %>
            </div>
          </div>

          <ul class="right">
            <li><a href="https://github.com/origamike" target='_blank'>Github</a></li>
            <li><a href="https://linkedin.com/" target='_blank'>LinkedIn</a></li>
            <li><a href="https://twitter.com/origamike" target='_blank'>Twitter</a></li>
          </ul>

          <ul class="left">
            <%= render 'layouts/navigation_links' %>
          </ul>

        </section>
      </nav>

    </div> -->
    <!-- /navigation -->
